<div class="card w-a mb-3">
    @if(info?.image){
        <img [src]="info.image" class="card-img-left">
    }
    <div class="card-body">
        <h5 class="card-title">{{info?.name}}</h5>
        @if(info.dataType == "character"){
            <p class="card-text">
                {{info.type}} {{info.type ? "-" : null}} {{info.species}}
            </p>
        }
        @if(info.dataType == "episode"){
            <p class="card-text">
                {{info.episode}}
            </p>
        }
        @if(info.dataType == "location"){
            <p class="card-text">
                {{info.type}}
            </p>
        }
      <a [routerLink]="['/detail', info.dataType, info.id]" class="btn btn-primary">Details</a>
    </div>
</div>