<div class="item">
    <div>
        @if(info?.image){
            <img [src]="info.image">
        }
    </div>
    <div class="detail">
        <div>
            <span class="title">
                {{info?.name}}
            </span>
            @if(info.dataType == "character"){
                <span class="subtitle">
                    {{info.type}} {{info.species}}
                </span>
            }
            @if(info.dataType == "episode"){
                <span class="subtitle">
                    {{info.episode}}
                </span>
            }
            @if(info.dataType == "location"){
                <span class="subtitle">
                    {{info.type}}
                </span>
            }
        </div>
        <a [routerLink]="['/detail', info.dataType, info.id]">
            Details
        </a>
    </div>
</div>