<div class="container d-flex justify-content-between pb-5 flex-column">
    <div class="bg-white rounded-bottom p-3">
        <a href="./">Return</a>
    </div>
    <div class="row justify-content-center text-center p-3">
        @if (info?.image) {
            <img [src]="info?.image">
        } @else {
            <span>
                No image provided
            </span>
        }
    </div>
    <div class="bg-white rounded p-3">
        <h2>
            {{info.name}} {{info.dataType}}
        </h2>
        <h3>
            {{info.type}} {{info.species}}
        </h3>
        <div class="row">
            <div class="col-md-6">
                <h4>
                    Details
                </h4>
                @if(type == "character"){
                    <p class="card-text">
                        Gender: {{info.gender}}
                    </p>
                    <p class="card-text">
                        Origin: {{info?.origin?.name}}
                    </p>
                    <p class="card-text">
                        Current location: {{info?.location?.name}}
                    </p>
                    <p>
                        Current status: {{info?.status}}
                    </p>
                }
                @if(type == "location"){
                    <p class="card-text">
                        Dimension: {{info?.dimension}}
                    </p>
                }
                @if(type == "episode"){
                    <p class="card-text">
                        {{info.episode}}
                    </p>
                    <p class="card-text">
                        {{info.air_date}}
                    </p>
                }
            </div>
            <div class="col-md-6 d-flex flex-column mh-75">
                <h4>{{extraByType[type][2]}}</h4>
                @for(extra of extras; track extra?.id){
                    <a [href]="'./detail/' + extraByType[type][1] + '/' + extra?.id">
                        {{extra?.name}}
                    </a>
                }
            </div>
        </div>
    </div>
</div>