.search-wrapper {
    position: fixed;
}

.start.search{
    top: 50%;
    transform: translateY(-50%);
}

.listing-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listing-wrapper ::-webkit-scrollbar {
    display: none;
}

.start.listing-wrapper{
    opacity: .2;
}