:root{
    --dark-blue: #1E2838;
    --green: #B3E028;
}

a {
    color: var(--green);
}

.bg-green{
    border: solid 1px var(--dark-blue);
    background-color:  var(--green);
    color: white; 
}

body {
    background-color:  var(--dark-blue);
}

.container {
    background-color: #00B5CD;
}